.nav-link:hover {
    color: #ffffff !important;
    font-weight: bold !important;
    text-decoration: underline;
}

.copyright,
.theme-by,
.theme-by a{
    color: #ffffff !important;
}

.theme-by a:hover {
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: underline;
}
