a {
    font-weight: bold;
}

.nav-link:hover {
    color: #ffffff !important;
    font-weight: bold !important;
    text-decoration: underline;
}

.copyright,
.theme-by,
.theme-by a{
    color: #ffffff !important;
}

.theme-by a:hover {
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: underline;
}

.blog-tags a:hover {
    color: #235069 !important;
    border-color: transparent !important;
    text-decoration: underline;
}

.navbar-toggler {
    color: #FFFFFF !important;
    border: none;
}

table {
    margin-top: 20px;
    max-height: 60vh;
}

.pagedtable-header-type {
    display: none;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
}

.modal > img {
    cursor: zoom-out;
}

figure > img {
    cursor: zoom-in;
}

.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}
