a {
    font-weight: bold;
}

.nav-link:hover {
    color: #ffffff !important;
    font-weight: bold !important;
    text-decoration: underline;
}

.copyright,
.theme-by,
.theme-by a{
    color: #ffffff !important;
}

.theme-by a:hover {
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: underline;
}

.blog-tags a:hover {
    color: #235069 !important;
    border-color: transparent !important;
    text-decoration: underline;
}

.navbar-toggler {
    color: #FFFFFF !important;
    border: none;
}
